<h1>Listing xml_file_downloads</h1>
<% form_for @search do |f| %>
  <table>
  <tr>
    <%= admin_table_header @search, f, "xml_file_download",[:url,:status,:path]%>
    <td>
          <%= f.submit t("filter") %>
        </td>
  </tr>

  <% @downloads.each do |download| %>
      <tr>
        <td>
          <%= download.url %>
        </td>
        <td>
          <%= download.status %>
        </td>
        <td>
          <%= download.path %>
        </td>

    <td><%= link_to 'Show', download %></td>
    <td><%= link_to 'Destroy', download, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%= link_to 'New Xml file download', new_xml_file_download_path %>
