<h1>Listing xml_file_downloads</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Path</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @xml_file_downloads.each do |xml_file_download| %>
  <tr>
    <td><%= xml_file_download.url %></td>
    <td><%= xml_file_download.path %></td>
    <td><%= xml_file_download.status %></td>
    <td><%= link_to 'Show', xml_file_download %></td>
    <td><%= link_to 'Destroy', xml_file_download, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Xml file download', new_xml_file_download_path %>
