<h1>Listing xml_feed_handlers</h1>

<% form_for @search do |f| %>
  <table>
  <tr>
    <%= admin_table_header @search, f, "xml_feed_handler",[:feed_path,
                                                           [:shop, {:order_name => :_name, :input_name => :_name_like, :input => :collection_select, :input_args => [Shop.all,:id,:name] }],
                                                           [:status, {:input => :skip}],
                                                           [:result, {:td_options => {:class => "result"}}]]%>
    <td>
          <%= f.submit t("filter") %>
        </td>
  </tr>

  <% @handlers.each do |handler| %>
      <tr>
        <td>
          <%= handler.feed_path %>
        </td>
        <td>
          <%= handler.shop.name %>
        </td>
        <td>
          <%= handler.status %>
        </td>
        <td>
          <%= handler.result %>
        </td>
        <td><%= link_to 'Show', handler %></td>
        <% unless handler.was_started? %>
        <td><%= link_to 'Run',   run_xml_feed_handler_path(handler) %></td>
        <% end %>

      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%= link_to 'New Xml feed handler', new_xml_feed_handler_path %>
