<p id="notice"><%= notice %></p>

<p>
  <b>path:</b>
  <%= @xml_feed_handler.feed_path %>
</p>

<p>
  <b>Shop:</b>
  <%= @xml_feed_handler.shop.name %>
</p>

<p>
  <b>Status:</b>
  <%= @xml_feed_handler.status %>
</p>

<p>
  <b>Result:</b>
  <%= @xml_feed_handler.result %>
</p>
<table>
  <tr>
    <td><b>Offer name</b></td>
    <td><b>Product name</b></td>
    <td><b>Status</b></td>
    <td><b>Match</b></td>
    <td><b>Most common</b></td>
    <td><b>Action</b></td>

  </tr>
  <% @results.each do |r| %>
  <tr>
    <td><%= r.shop_offer.name %></td>
    <td><%= r.product.name unless r.product == nil %></td>
    <td><%= r.status %></td>
    <td><%= r.match %></td>
    <td><%= r.most_common.name unless r.most_common == nil%></td>
    <td>
      <%= form_tag connect_xml_feed_handler_path do%>
      <%= hidden_field :result, r.id %>
      <%= select_tag :product, options_for_select(@select_array,r.most_common.id) unless r.most_common == nil %>
      <%= select_tag :product, options_for_select(@select_array) if r.most_common == nil %>
      <%= submit_tag "Link" %>
      <% end %>
    </td>
  </tr>
  <% end %>

</table>

<%= link_to 'Back', xml_feed_handlers_path %>
